playsound
openai-whisper
sounddevice==0.5.1
numpy
SpeechRecognition
pygame
requests
elevenlabs==0.2.26
torch==2.6.0
torchaudio
gTTS
soundfile
sseclient
RPi.GPIO
flask
psutil
opencv-python
picamera2
smbus2
jinja2
Werkzeug
itsdangerous
click
pyserial
ultralytics
loguru
scipy==1.9.3
lap
cython_bbox
transformers==4.50.1
tqdm
deepface
pillow
sounddevice==0.5.1
tqdm
tf-keras
faster-whisper
tqdm
numpy
torch==1.0.1
pyyaml
librosa
mir_eval
matplotlib
tensorboardX
Pillow
astroid==2.12.14
pylint==2.15.10
flake8>=6.0.0
flake8-bugbear>=22.10.27
flake8-comprehensions>=3.10
flake8-debugger
flake8-docstrings>=1.6.0
flake8-isort>=5.0
flake8-pylint
flake8-rst-docstrings
flake8-string-format
numpy
PiDNG
piexif
pillow
simplejpeg
v4l2-python3
python-prctl
pyopengl
PyQt5
opencv-python
pytesseract
meson
ninja
pybind11
Jinja2
ply
PyYAML





